/* エラー */
.error {
  color: red;
}

.error.login {
  padding: 0 0 15px 15px;
}

.error.thread {
  padding-left: 15px;
}

body {
  background-color: #ddeaf6;
}


/* =================== ヘッダー ここから =================== */

header {
  background-color: #fbe4d5;
  height: 60px;
}

header .header__nav {
  /* display: flex;
  justify-content: flex-end; */
  margin: 0 25px;
  align-items: center;
}


.header__ul {
  list-style: none;
  margin: 0;
}

.header__logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: flex-end;
}

.header__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header__li {
  font-weight: 600;
  border: solid 1px black;
  padding: 10px;
  margin: 8px 15px 0 15px;
}

.header__ul a {
  display: block;
  cursor: pointer;
  color: black;
}

button.logout__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* =================== ヘッダー ここまで =================== */



/* =================== 会員登録画面 ここから =================== */

.content {
  background-color: #ddeaf6;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.form {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 25px;
  margin: 10px 0 25px 0;
  text-align: center;
}


/* 氏名 */
.form__name {
  margin-bottom: 50px;
}
/* // 氏名 // */


/* 性別 */
.form__gender {
  margin: 20px 0 30px 0;
}

.gender {
  margin-right: 30px;
}
/* // 性別 // */



/* 住所 */
.input {
  display: flex;
  margin-right: 20px;
  margin-bottom: 30px;
}

.address {
  margin-right: 20px;
}

.prefecture {
  margin-bottom: 15px;
}
.prefecture span {
  margin-right: 49px;
}

.address-input {
  display: flex;
  flex-direction: column;
}

.other-input input {
  width: 300px;
}
/* // 住所 // */



/* パスワード */
.form__password, .form__password-confirmation, .form__email {
  margin-bottom: 20px;
}

.form__password input, .form__password-confirmation input, .form__email input {
  width: 300px;
}

.form__password label {
  margin-right: 84px;
}
.form__password-confirmation label {
  margin-right: 52px;
}
.form__email label {
  margin-right: 54px;
}
/* // パスワード // */


/* ボタン */
.form__btn {
  background-color: #4472c4;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #3c66af;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  display: block;
  width: 190px;
}

.form__btn.return {
  background-color: white;
  color: #4472c4;
  margin-top: 30px;
}

.form__btn a {
  display: block;
  width: 180px;
  margin: 0 auto;
}

.search__btn {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
/* // ボタン // */

/* =================== 会員登録画面 ここまで =================== */



/* =================== 会員登録確認画面 ここから =================== */

table {
  margin-bottom: 20px;
}

td {
  padding: 15px;
}

.form__address tr{
  display: none;
}

/* =================== 会員登録確認画面 ここまで =================== */



/* =================== スレッド作成画面 ここから =================== */

.title_input {
  width: 400px;
}

.content_text {
  width: 400px;
  height: 200px;
}

/* =================== スレッド作成画面 ここまで =================== */



/* =================== スレッド一覧 ここから =================== */

.search_input {
  width: 400px;
  padding: 10px;
}

/* =================== スレッド一覧 ここまで =================== */

table {
  margin-top: 30px;
}

th {
  font-weight: normal;
  padding: 10px;
}



/* =================== スレッド詳細 ここから =================== */
.thread__title {
  margin: 20px 0;
}

.thread__title > h1 {
  margin: 0;
}

.thread__title > div {
  display: inline-block;
  margin-right: -15%;
}


.thread {
  background-color: #ddeaf6;
  text-align: center;
  margin: 0 auto;
}

.thread__content {
  border-top: 50px solid #d8d8d8;
  border-bottom: 50px solid #d8d8d8;
}


.content__inner {
  color: #3a65e7;
  border: 2px solid #3a65e7;
  border-radius: 10px;
  margin: 20px auto;
  text-align: left;
  padding: 0 20px 20px 20px;
  max-width: 60%;
}

.content-text {
  margin-top: 5px;
}

.comment__input {
  margin: 20px;
  width: 60%;
  height: 300px;
}

.comment__btn{
  background-color: #4472c4;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #3c66af;
  margin-left: 67%;
  color: white;
  cursor: pointer;
  display: block;
  width: 190px;
}