/* エラー */
.error {
  color: red;
}

/* =================== 会員登録画面 ここから =================== */

.content {
  background-color: #ddeaf6;
  text-align: center;
  border: 1px solid black;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.form {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 25px;
  margin: 10px 0 25px 0;
  text-align: center;
}


/* 氏名 */
.form__name {
  margin-bottom: 50px;
}
/* // 氏名 // */


/* 性別 */
.form__gender {
  margin: 20px 0 30px 0;
}

.gender {
  margin-right: 30px;
}
/* // 性別 // */



/* 住所 */
.input {
  display: flex;
  margin-right: 20px;
  margin-bottom: 30px;
}

.address {
  margin-right: 20px;
}

.prefecture {
  margin-bottom: 15px;
}
.prefecture span {
  margin-right: 49px;
}

.address-input {
  display: flex;
  flex-direction: column;
}

.other-input input {
  width: 300px;
}
/* // 住所 // */



/* パスワード */
.form__password, .form__password-confirmation, .form__email {
  margin-bottom: 20px;
}

.form__password input, .form__password-confirmation input, .form__email input {
  width: 300px;
}

.form__password label {
  margin-right: 84px;
}
.form__password-confirmation label {
  margin-right: 52px;
}
.form__email label {
  margin-right: 54px;
}
/* // パスワード // */


/* ボタン */
.form__btn {
  background-color: #4472c4;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #3c66af;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  display: block;
}

.form__btn.return {
  background-color: white;
  color: #4472c4;
  margin-top: 30px;
}

a {
  text-decoration: none;
}
/* // ボタン // */

/* =================== 会員登録画面 ここまで =================== */



/* =================== 会員登録確認画面 ここから =================== */

table {
  margin-bottom: 20px;
}

td {
  padding: 15px;
}

.form__address tr{
  display: none;
}

/* =================== 会員登録確認画面 ここまで =================== */